/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.gitignore
/out/production/fst690/assignments/Assignment1$LCG.class
/out/production/fst690/assignments/Assignment1.class
/src/assignments/Assignment1.java
/out/production/fst690/assignments/Assignment2$ArrivalProcess.class
/out/production/fst690/assignments/Assignment2$Customer.class
/out/production/fst690/assignments/Assignment2$Server.class
/out/production/fst690/assignments/Assignment2$StopEvent.class
/out/production/fst690/assignments/Assignment2.class
/src/assignments/Assignment2.java
/fst690.iml
/game_lengths.csv
/out/production/fst690/META-INF/MANIFEST.MF
/src/META-INF/MANIFEST.MF
/.idea/misc.xml
/.idea/modules.xml
/.idea/libraries/SSJ.xml
/.idea/vcs.xml
